@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7f9fb;
  color: #0a1a2f;
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 8px;
}
